// Material theme
@import '~@angular/material/theming';

$custom-typography: mat-typography-config( $font-family: 'Roboto, Helvetica, Arial, sans-serif');
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
// Override typography for all Angular Material, including mat-base-typography and all components.
// Override the typography in the core CSS.
@include mat-core($custom-typography);

//Here the existing theme is being redfined
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-green, 600, 600, 500);
$warn: mat-palette($mat-pink, 500, 600, 500);
$theme: mat-light-theme($primary, $accent, $warn);
$_umbra-color: rgba(150, 150, 150, 0.2);
$_penumbra-color: rgba(150, 150, 150, 0.14);
$_ambient-color: rgba(224, 129, 129, 0.12);
@include angular-material-theme($theme);


/*

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
*/