<form [formGroup]="form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email address" type="email" formControlName="email" required>
    </mat-form-field>
</form>
