// @import "./../../../styles/settings/breakpoints.sass";
// @import "./../../../styles/settings/layout.scss";
// @import "./../../../styles/settings/colors.scss";
@import "breakpoints";
@import "layout";
@import "custom-colors";

.main-content {
    padding: {
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 0;
    }
    @include breakpoint($narrow-devices) {
        padding: {
            left: 15px;
            right: 15px;
        }
    }
    height: 100%;
    overflow: auto;
}

.navbar {
    min-width: 300px;
    max-width: 300px;
}

:host ::ng-deep .mat-sidenav-container[fullscreen] {
    top: 55px;
    @include breakpoint($narrow-devices) {
        top: 64px;
    }
}

// See https://github.com/angular/material2/issues/998
:host ::ng-deep .mat-sidenav-content {
    transform: none !important;
}

.main-content {
    & ng-deep .outlet,
    & ng-deep .maxed-width {
        @include breakpoint($narrow-devices) {
                max-width: $page-max-width;
                margin: {
                    left: auto;
                    right: auto;
                }
        }
    }
}