<form [formGroup]="form">
    <mat-radio-group class="example-radio-group" formControlName="work">
        <mat-radio-button class="example-radio-button" value="design">Design</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="code">Code</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="deploy">Deploy</mat-radio-button>
    </mat-radio-group>
</form>
