<div layout="row" layout-align="space-between center" flex class="layout-align-space-between-center layout-row flex">
    <div class="top-container">
        <span class="md-lgn-headline">Error</span>
        <button class="btn-secondary" mat-mini-fab matTooltip="Home">
            <mat-icon routerLink="/" aria-label="Home">home</mat-icon>
        </button>
    </div>
</div>
<div class="basic-container mat-elevation-z8 main-div">
    <span class="text">Oops, it seems that this page does not exist.</span>
</div>
